
html {
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
}
body{
    text-align: center;
}
body::before {
    content: "";
    background-image: url(./resources/mine-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

header img {
    max-height: 300px;
    border: 5px #0a0f3e solid;
    border-radius: 50%;
}

.mining {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.mining-container {
    position: relative;
    background-image: url('./resources/paper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: auto;
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}