
html {
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
}

h1 {
    font-size: 45px;
}

body{
    text-align: center;
}
body::before {
    content: "";
    background-image: url(./resources/mine-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

header img {
    max-height: 300px;
    border: 10px darkgoldenrod solid;
    border-radius: 50%;
}

.mining {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.mining-container {
    position: relative;
    background-image: url('./resources/paper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: auto;
    max-width: 800px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid darkgoldenrod;
}

#goldMined {
    padding: 15px;
    -webkit-text-stroke: 1px darkgoldenrod;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

button {
    background-color: #9c9c9c;
    color: black;
    box-shadow: none;
    border-radius: 0px;
    border: 0;
    margin: 8px;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.5px darkgoldenrod;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: #5a5959;
}