html {
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

body::after {
    content: "";
    background-image: url(./resources/mine-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
    z-index: -1;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo img {
    max-height: 300px;
    border: 10px darkgoldenrod solid;
    border-radius: 50%;
}

/* Main */

.mining, .instructions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.mining-container, .instruction-container {
    position: relative;
    background-image: url('./resources/paper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: auto;
    max-width: 800px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid darkgoldenrod;
    padding: 20px;
}

#goldMined, .instructions h2 {
    padding: 15px;
    -webkit-text-stroke: 1px darkgoldenrod;
}

.instructions ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Div for buttons */

.centre-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.centre-box button {
    background-color: #9c9c9c;
    color: black;
    box-shadow: none;
    border-radius: 0px;
    border: 0;
    margin: 8px;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.5px darkgoldenrod;
    transition: 0.3s;
}

.centre-box button:hover {
    background-color: gray;
}

.centre-box button:active {
    background-color: #5a5959;
}

/* Header/side-nav */

header span {
    font-size: 40px;
    cursor:crosshair;
}

.sidenav-style {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav-style p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: darkgoldenrod;
    display: block;
}
  
.sidenav-style a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: darkgoldenrod;
    display: block;
    transition: 0.3s;
}
  
.sidenav-style a:hover {
    color: #f1f1f1;
}
  
.sidenav-style .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-style button {
    background-color: #C9CAA3;
    color: black;
    box-shadow: none;
    border-radius: 0px;
    border: 0;
    margin: 8px;
    padding: 10px;
    font-size: 30px;
    transition: 0.3s;
}

.sidenav-style button:hover {
    background-color: #97987A;
}

.sidenav-style button:active {
    background-color: #656552;
}

/* Media queries */

@media screen and (max-height: 450px) {
    .sidenav-style {padding-top: 15px;}
    .sidenav-style a {font-size: 18px;}
  }